.container{
    display: flex;
    height: 720px;
    width: 1000;
    background-color: rgb(233, 231, 231);
    justify-content: center;
}
.inicio {

    display:flex;
    flex-direction: column;
    justify-content: center;  
    height:720px;
    width: 400px;   
}
.logo {
    display:flex;
    flex-direction: column;
    justify-content: center;    
    height: 720px;
    width: 400px;         
    }
#formulario{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 400px;

}
    
#olvidasteContraseña{  
    color: #1877f2;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
#olviContraseña{
    text-decoration: none;
}

#boton{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 400px; 
}
#crearCuenta{
    text-align: center;
}
    
#celebrity{
        color: #000000;   
}

