.container{
    display: flex;
    height: 720px;
    width: 1000;
    background-color: rgb(233, 231, 231);
    justify-content: center;


}
.inicio {
    display:flex;
    flex-direction: column;
    justify-content: center;  
    height:720px;
    width: 400px;
   
}
.logo {
    display:flex;
    flex-direction: column;
    justify-content: center;    
    height: 720px;
    width: 400px;     
    
    
    }